<%- include ("./partials/head.ejs"); %>

    <body>
        <%- include("./partials/navbar.ejs"); %>
        <div class="recover-box">
            <h2>Login</h2>
            <form>
              <div class="recover-item">
                <input type="text" name="" required="">
                <label>E-mail</label>
              </div>
              <div class="recover-item">
                <input type="text" name="" required="">
                <label>Phone</label>
              </div>
              <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
              </a>
            </form>
          </div>
    </body>
    <%- include ("./partials/footer.ejs"); %>