<%- include ("./partials/head.ejs"); %>
<body>
    <%- include ("./partials/navbar.ejs"); %>
    <div class="container">
        <div class="card-head">
            <h3>Register</h3>
        </div>
        <div class="card-body">
            <form action="POST" class="regSave">
                <label for="">Name</label>
                <input type="text" placeholder="Name" class="form-control" name="name">
                <label for="">Last Name</label>
                <input type="text" placeholder="Last Name" class="form-control" name="lastName">
                <label for="">e-mail</label>
                <input type="text" placeholder="e-mail" class="form-control" name="email">
                <label for="">Password</label>
                <input type="text" placeholder="Password" class="form-control" name="password">
                <label for="">Re-Password</label>
                <input type="text" placeholder="Re-Password" class="form-control" name="rePassword">
                <br>
                <button class="btn btn-primary">Submit!</button>
            </form>
        </div>
    </div>
</body>
<%- include ("./partials/footer.ejs"); %>