<%- include ("./partials/head.ejs"); %>

    <body>
        <%- include ("./partials/navbar.ejs") %>
            <div class="reg-user">
                <h2>Login</h2>
                <form>
                    <div class="item-reg">
                        <input type="text" name="" required="">
                        <label>Name</label>
                    </div>
                    <div class="item-reg">
                        <input type="password" name="" required="">
                        <label>E-mail</label>
                    </div>
                    <div class="item-reg">
                        <input type="number" name="" required="">
                        <label>Phone</label>
                    </div>
                    <div class="item-reg">
                        <input type="password" name="" required="">
                        <label>Username</label>
                    </div>
                    <div class="item-reg">
                        <input type="password" name="" required="">
                        <label>Password</label>
                    </div>
                    <div class="item-reg">
                        <input type="password" name="" required="">
                        <label>Confirm Password</label>
                    </div>
                    <a href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Submit
                    </a>
                </form>
            </div>

    </body>
    <%- include ("./partials/footer.ejs"); %>
